<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spikee.iworld">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/iworld_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iworld_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Select" />
        <activity android:name=".addproduct" />
        <activity android:name=".product_list" />
        <activity android:name=".category" />
        <activity android:name=".login"></activity>
    </application>

</manifest>